{% extends 'base.html.twig' %}

{% block title %}Edit ChecklistTemplate{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto p-6 bg-gray-200 rounded-xl shadow-md mt-10">
    <h1 class="text-3xl font-bold mb-6 text-center">Edit ChecklistTemplate</h1>
    <div class="space-y-4">
        {{ include('checklist_template/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
